<head>
    <style>
        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
    </style>
</head>
<body>
<header>
    {% include "header.html" %}
</header>

    <div class="center">
        <p>
        Welcome to the thrilling world of the Squirrel Club, where passion meets perseverance and camaraderie thrives in every heartbeat! Nestled in the heart of our community, the Squirrel Club isn't just a sports club; it's a sanctuary for those who dare to dream, strive for excellence, and embrace the boundless spirit of athleticism.
        <br><br>    
        At the Squirrel Club, we believe in the relentless pursuit of sporting prowess, where every member, from novice to veteran, is encouraged to unleash their inner athlete and soar to new heights. Whether you're a seasoned competitor or a newcomer to the game, our club offers a diverse array of sports and activities tailored to suit all skill levels and interests.
        <br><br>
        But what truly sets the Squirrel Club apart is our unwavering commitment to fostering a sense of belonging and unity among our members. Here, you'll find more than just teammates – you'll find a family bound by a shared love for sports, a collective determination to push boundaries, and a mutual respect for each other's journey.
        <br><br>
        So, whether you're chasing victory on the field, honing your skills in the gym, or simply seeking the thrill of friendly competition, the Squirrel Club is your ultimate destination for all things sports and camaraderie. Join us, and together, let's leap, bound, and conquer new horizons in the exhilarating world of athletics!
    </div>
</div>

</body>
